.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 50%;
   max-width: 480px;
}

.form>div {
   width: 100%;
   margin-bottom: 24px;
}

.form>div>div {
   width: 100%;
}
