.page {
  /* max-width: 2000px; */
  margin: 0 auto 0;
  background-color: #131316;
}

.main {
  max-width: 1260px;
  display: flex;
  gap: 60px;
  margin: 0 auto 0;
}

.test {
  width: 600px;
  height: 1000px;
  background-color: lawngreen;
}
