.main {
   width: 100%;
   max-width: 1240px;
   margin: 0 auto 0;
}
.cont {
   display: flex;
   justify-content: center;
   gap: 60px;
   margin: 0 auto 0;
}

.feeds {
   box-sizing: border-box;
   width: 590px;
   height: calc(100vh - 210px);
   overflow-y: auto;
}

