.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15vh;
}

.link {
   color: #4C4CFF;
   text-decoration: none;
   margin-top: 10vh;
}

.link:hover {
   color: #3e3ef5
}