.header {
   display: flex;
   width: 100vw;
   margin: 0 auto 0;
   background-color: #1C1C21;
   height: 88px;
}

.navbar {
   display: flex;
   justify-content: space-between;
   margin: 0 auto 0;
   width: 1260px;
}



.container {
   display: flex;
   align-items: center;
}

.logo {
   composes: container;
   flex-grow: .71;
   justify-content: space-between;
}


.button {
   display: flex;
   align-items:center;
   color: #8585AD;
   box-sizing: border-box;
   background-color: #1C1C21;
   border: none;
   cursor: pointer;
   opacity: 1;
   transition: all .2s ease;
}

.button:hover {
   opacity: .8;
}




.button_active {
   color: rgba(242, 242, 243, 1);
   display: flex;
   align-items:center;
   box-sizing: border-box;
   background-color: #1C1C21;
   border: none;
}




